<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>


   
    <div class="bgimg">
      <div class="middlefilter">

          <div class="topleft">
          </div>



          <div class="middle">
            <h1>COMING SOON</h1>
            <hr>
            <br>
          
            <p>We build customized</p>
            <p>data visualization application</p>
            

          </div>
          <div class="middle">
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <p> <font size="smaller">Inspect Workshop - Let you inspect your business data</font></p>

          </div>




      </div>
      
    </div>




</body>
</html>
